body {
    background-color:   #f2f2f2;
    font-family:        'Nunito', sans-serif;
    color:              #1a1a1a;
}

.logo {
    width:              100vw;
    margin:             10px auto 5px;
}

.subheader {
    font-family:        'Josefin Slab', serif;
    color:              #404040;
}